{% extends "layout.html" %} {% block main %}
<script>
    var trace = '{{ traces }}';
  </script>
<div class="container steps-container">
    <div class="step-image"><a href="{{ url_for('index') }}"><i class="fas fa-angle-left"></i></a><img src="{{ url_for('static', filename =
        'images/connected.jpg') }}" alt=""></div>
    <div class="steps">
    <h1>analyze your chat in 3 steps:</h1>
    <div >
    <ol class="ordered-list">
        <li>export your WhatsApp chat log - without media</li>
        <li>upload the chat log here</li>
        <li>view chat analysis</li>
    </ol>
</div>
</div>
</div>
<div class="container upload-container">
    <div class="inner-upload">
    <title>upload new file</title>
        <h1>upload new file</h1>
        <form action="/upload" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=upload>
        </form>
    </div>
</div>
{% if words %}
<div class="">
    <div class="dashboard">
        
        <div class="tables">

        
    {% for key, value in words.items() %}
    <div class="outer-table">
    <h3>{{key}}</h3>
    <table class="table table-md table-responsive"
    style="width:100%"
    data-toggle="table"
    data-height="460"
    data-sort-class="table-active"
    data-sortable="true"
    data-pagination="true"
    data-side-pagination="server"
    data-page-list="[10, 25, 50, 100, 200, All]">
        <thead class="thead-dark">
            <tr><th data-field="word" data-sortable="true">word</th>
            <th data-field="instances" data-sortable="true">#</th></tr>
        </thead>
          <tbody>
        {% for k, v in value.items()%}
            <tr>
                <td>{{k}}</td>
                <td>{{v}}</td>
            </tr>
            {% endfor %}  
        </tbody>
        </table>
    </div>
{% endfor %}
</div>
<div class="container">
<div data="{{traces}}" id="traces"></div>
</div>
<div class="stats">
    <div class="inner-stats">
    <h4>average words per message: </h4>
    {% for k, v in average_words.items()%}
    <h5>{{k}}: {{"{:,.2f}".format(v)}}</h5>
    {% endfor %}
</div>
<div class="inner-stats">
    <h4>total words per user: </h4>
    {% for k, v in total_words.items()%}
    <h5>{{k}}: {{"{:,.0f}".format(v)}}</h5>
    {% endfor %}
</div>
</div>
</div>
</div>
{% endif %}
{% endblock %}