{% extends "layout.html" %} {% block main %}
<script>
    var trace = '{{ traces }}';
  </script>
<div class="container steps-container">
    <h1>Analyze your chat in 3 steps:</h1>
    <div class="steps">
    <ol class="ordered-list">
        <li>export your WhatsApp chat log - without media</li>
        <li>upload the chat log here</li>
        <li>view chat analysis</li>
    </ol>
</div>
</div>
<div class="container upload-container">
    <div class="inner-upload">
    <title>Upload new File</title>
        <h1>Upload new File</h1>
        <form action="/upload" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
</div>
<div class="">
    <div class="dashboard">
        
        <div class="tables">

    {% for key, value in words.items() %}
    <div class="outer-table">
    <h3>{{key}}</h3>
    <table class="table table-sm table-responsive"
    style="width:100%"
    data-toggle="table"
    data-height="460"
    data-pagination="true"
    data-sort-class="table-active"
    data-sortable="true"
    data-page-list="[10, 25, 50, 100, 200, All]">
        <thead class="thead-dark">
            <tr><th data-field="word" data-sortable="true">word</th>
            <th data-field="instances" data-sortable="true">#</th></tr>
        </thead>
          <tbody>
        {% for k, v in value.items()%}
            <tr>
                <td>{{k}}</td>
                <td>{{v}}</td>
            </tr>
            {% endfor %}  
        </tbody>
        </table>
    </div>
{% endfor %}
</div>
<div class="container">
<div data="{{traces}}" id="traces"></div>
</div>
</div>
</div>
{% endblock %}